/* Reset some default styles */
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
p{
    color: red;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4CAF50;
    padding: 10px 20px;
    color: white;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}
main {
    max-width: 800px;
    margin: 20px auto;
}

.about h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    text-align: center;
}

.about h2 {
    font-size: 1.5em;
    margin-top: 20px;
}

.about p {
    margin: 10px 0;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: #fff;
    margin-top: 20px;
}

/* Responsive Styles */
@media (max-width: 600px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }
}
